<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Career Roadmaps</h1>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#metrics">Metrics (Hours)</a></li>
          <li><a href="#sponsor">Sponsor</a></li>
          <!-- <li><a href="#developmentmethodology">Development Methodology</a></li> -->
          <li><a href="#domainmodel">Domain Model</a></li>
          <li>
            <a href="https://github.com/FiTRSkills/docs/wiki"
              >Wiki/Documentation</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about">
        <h2>Project Synopsis</h2>
        <p>
          FiTR is an innovative web application designed to streamline the job
          matching process by connecting job seekers with employers based
          primarily on location and key skills. Modeled after a “dating app”
          format, users swipe left or right on job listings to indicate whether
          they possess the necessary skills for a given position. When a match
          occurs between a job seeker and an employer, a brief 5-10 minute
          interview is scheduled, allowing both parties to assess if they wish
          to continue the hiring process. Beyond facilitating quick connections,
          FiTR provides valuable insights for employers, educators, and job
          seekers. Employers can compare skills to other job postings, educators
          can identify in-demand skills, and job seekers can evaluate how their
          skills measure up against others in the industry.  The platform
          highlights the skills users possess while identifying any gaps in
          their expertise.  For job seekers seeking to enhance their
          qualifications, FiTR offers educational resources to acquire the
          necessary skills, paving the way for improved employability. Overall,
          FiTR is a comprehensive, professional career platform that simplifies
          the job search process for job seekers, employers, and educators
          alike. It empowers individuals to understand the skills they need to
          secure employment while fostering growth opportunities for career
          advancement.
        </p>
      </section>

      <section id="team">
        <h2>Team</h2>
        <section>
          <h3>Code Crusaders</h3>
          <section id="CodeCrusaders">
            <div class="team-member">
              <div class="member-photo">
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">JP Dumont</h2>
                <h3 class="member-role">Team Lead</h3>
                <p class="member-description">
                  <!-- JP Dumont is a charasmatic web developer with a results
                  oriented mindset. -->
                </p>
              </div>
            </div>

            <div class="team-member">
              <div class="member-photo">
                <img
                  src="https://avatars.githubusercontent.com/u/70248258?s=64&v=4"
                  alt="aidens picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Aiden Green</h2>
                <h3 class="member-role">Developer - Information Specialist</h3>
                <p class="member-description">
                  <!-- Aiden is a dedicated member of the team who tracks the
                  information discussed during meetings -->
                </p>
              </div>
            </div>
            <div class="team-member">
              <div class="member-photo">
                <!-- Placeholder for a photo if desired -->
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Jessie Perce</h2>
                <h3 class="member-role">Developer - Sponsor Liason</h3>
                <p class="member-description">
                  <!-- Jessie is a passionate and charasmatic full stack developer
                  with an expertise in relations with stakeholders. -->
                </p>
              </div>
            </div>

            <div class="team-member">
              <div class="member-photo">
                <!-- Placeholder for a photo if desired -->
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Michael Nersinger</h2>
                <h3 class="member-role">Developer - Scrum Master</h3>
                <p class="member-description">
                  <!-- Michael is a passionate and charasmatic full stack developer
                  with an expertise in leading team discussions effectively. -->
                </p>
              </div>
            </div>

            <div class="team-member">
              <div class="member-photo">
                <!-- Placeholder for a photo if desired -->
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Charlie Luebstorff</h2>
                <h3 class="member-role">
                  Developer - Infrastructure Specialist 1
                </h3>
                <p class="member-description">
                  <!-- Charlie is a passionate full stack developer with expertise
                  with AWS Technologies. -->
                </p>
              </div>
            </div>

            <div class="team-member">
              <div class="member-photo">
                <!-- Placeholder for a photo if desired -->
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Jacob Canedy</h2>
                <h3 class="member-role">
                  Developer - Infrastructure Specialist 2
                </h3>
                <p class="member-description">
                  <!-- Jacob is a passionate full stack developer with expertise with
                  AWS Technologies. -->
                </p>
              </div>
            </div>

            <div class="team-member">
              <div class="member-photo">
                <!-- Placeholder for a photo if desired -->
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Huan Huynh</h2>
                <h3 class="member-role">Technical Backend Lead</h3>
                <p class="member-description">
                  <!-- Huan is a passionate and charasmatic full stack developer with
                  an expertise in Backend architecture and development. -->
                </p>
              </div>
            </div>

            <div class="team-member">
              <div class="member-photo">
                <!-- Placeholder for a photo if desired -->
                <img
                  src="https://avatars.githubusercontent.com/u/113440108?v=4&size=64"
                  alt="member picture"
                />
              </div>
              <div class="member-info">
                <h2 class="member-name">Taha Syed-Quadri</h2>
                <h3 class="member-role">Technical Frontend Lead</h3>
                <p class="member-description">
                  <!-- Taha is a passionate and charasmatic full stack developer with
                  an expertise in Backend architecture and development. -->
                </p>
              </div>
            </div>
          </section>
        </section>
        <section>
          <h3>Coach</h3>
          <div class="team-member">
            <div class="member-photo">
              <!-- Placeholder for a photo if desired -->
              <img
                src="https://claws.rit.edu/photos/images/placeholder.jpg"
                alt="member picture"
              />
            </div>
            <div class="member-info">
              <h2 class="member-name">Bryan Basham</h2>
              <h3 class="member-role">Coach</h3>
              <h4>bdbvse@rit.edu</h4>
              <p class="member-description">
                Golisano College of Computing and Information Sciences Faculty
                and Software Engineering Senior Project Coach
              </p>
            </div>
          </div>
        </section>
      </section>

      <section id="metrics">
        <h2>Metrics</h2>
        <div>
          <iframe
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRxSn5dO04LfV4DcQABKMMI_OsAa8fsiq9wj3bt17BmKhA-VwFmnxpo4Ctt_bp5OvdXx4kweZUZYxCr/pubhtml?widget=true&amp;headers=false"
          ></iframe>
        </div>
      </section>

      <section id="developmentmethodology">
        <h2>Development Methodology</h2>
        <p>
          Based on the previous teams process defined in the github wiki we plan
          on updating and improving this process to best fit our team
        </p>
        {% include_relative docs/Roles.md %} {% include_relative
        docs/Bug-Reporting.md %} {% include_relative
        docs/Github-Merging-Guide.md %} {% include_relative
        docs/Sprints-and-Sprint-Planning.md %} {% include_relative
        docs/Branching-And-Merging-Strategies.md %}
        <!-- {% include_relative docs.wiki/API-and-Design-Definition.md %} -->
      </section>

      <section id="domainmodel">
        <h2>Domain Model</h2>
        {% include_relative docs.wiki/Domain-Definition.md %}
      </section>

      <section id="sponsor">
        <h2>Sponsor</h2>
        <p>FiTR Skills</p>
      </section>
    </main>
  </body>
</html>
